h1{
    color: black;
}

.panel-container {
    max-width: 20; /* Set the maximum width for the panel container */
    margin: 20; /* Center the panel container */
}

.panel-primary {
    max-width: 230px; /* Set the maximum width for the panel */
    margin-top: 10px; /* Adjust the top margin as needed */
    margin-bottom: 10px; /* Adjust the bottom margin as needed */
    background-color: #faf6f6;
    border: 1px solid #779ec0;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading{
    text-align: center; /* Center-align the content */
    color: #094573;
    background-color: #779ec0;
    border-color: #779ec0;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0; /* Remove any bottom margin */
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold; /* Set font weight to bold */
    /* Add any additional font styles here */
    
}

.panel-body {
    padding: 15px;
}

#sample-metadata {
    font-size: 14px; /* Adjust the font size as needed */
    line-height: 1; /* Set line height to 1 to remove spacing between lines */
}